<div class="jumbotron mt-4" style="margin-left: 300px;">
  <h1 class="display-4" style="justify-content: center;">Este CRUD fue realizado en el Instituto Tecnológico de Pachuca</h1>
  <h2 class="display-4" style="justify-content: center;">Desarrollo Avanzado de Sistemas</h2>
</div>